.headerContainer {
  font-size: xx-large;
  font-weight: 800;
  height: 10vh;
  padding-left: 2%;
  padding-right: 2%;
  border-bottom: 0.2vh solid #d3d6da;
  text-align: center;
  margin-bottom: 6vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContainer svg:hover {
  cursor: pointer;
}
