body {
  /* height: 45%; */

  font-family: "Clear Sans", "Helvetica Neue", Arial, sans-serif;
}

.board {
  justify-content: center;
/* 
  display: flex;
  flex-direction: column;
  margin-left: 20vw;
  margin-right: 20vw; */
}
